<h1>Your Invoice</h1>

<table style= "width: 60%">
    <tr >
        <th>Item</th>
        <th>Price</th>
        <th>TOTAL</th>
    </tr>
    <tr>
        <td>Laptop</td>
        <td>$300.00</td>
        <td>$300.00</td>
    </tr>
    <tr>
        <td>Power Cable</td>
        <td>$25.00</td>
        <td>$325.00</td>
    </tr>
    <tr>
        <td>Wireless Charger</td>
        <td>$50.00</td>
        <td>$375.00</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td> <strong>$375.00</strong> </td>
    </tr>
</table>