<!DOCTYPE html>
<html>
  <head>
    <h1>Flatiron Widgets Store</h1>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tag %>
  </head>
  <body>
  
  <%= yield %>
  
  </body>
</html>  